#win {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    &.active {
        display: flex;
    }
    div {
        width: 70%;
        padding: 50px 20px;
        background-color: $dark;
        border-radius: 15px;
        @include tablet {
            width: auto;
            padding: 50px 110px;
        }
    }
    .restart {
        margin-top: 20px;
        img {
            width: 40px;
        }
    }
}
